*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.btn{
    padding: 10px 16px;
    background: #30B868;
    border: none;
    border-radius: 5px;
    color: #fff;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}
.logo img{
    width: 100%;
}
.menu ul{
    display: flex;
    gap: 15px;
}
.menu ul li{
    list-style: none;
}
.menu ul li a{
    text-decoration: none;
    color: #000;
}
.button-area button:hover{
    background: #469165;
}

.benar{
    background-image: url(./images/hero-bg.png);
    background-size: cover;
    padding: 100px 350px;
    text-align: center;

}
.content p{
    margin-bottom: 20px;
}
.Early{
    display: inline;
    background: #fff;
    padding: 5px 20px;
    border-radius: 20px;
    color: #30B868;
}
.content h2,h3{
    font-size: 70px;
}
.content h2{
    color: #fff;
    margin-top: 20px;
}
.content h3{
    color: #30B868;
    margin-bottom: 20px;
}
.private-space{
    color: #fff;
    font-size: 18px;
    line-height: 35px;
}

.button2{
    background: transparent;
    border: 1px solid #fff;
}


.notice{
    padding-top: 30px;
    background: #FBFBFB;
    text-align: center;
}
.notice p{
    color: #627382;
}
.notice-bord{
    display: flex;
    justify-content: space-between;
    gap: 25px;
}
.not *{
    margin-bottom: 15px;
}
.not h2{
    font-size: 48px;
}
.notice-card *{
    margin-bottom: 15px;
}
.notice-card{
    background: #fff;
    padding: 20px;
    border-radius: 10px 10px 0 0;
}
.notice-card img{
    background: #F95555;
    padding: 25px;
    border-radius: 50%;
}
.notice-card h2{
    font-size: 24px;
}


.Solution-area{
    padding: 100px 0;
}
.main-content-solution{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
}
.Solution-content p, h2{ 
    margin-bottom: 22px;
}
.Solution-content p{
    color: #627382;
}
.Solution-content h2{
    font-size: 48px;
}
.Solution-content ul li{
    list-style: none;
    padding: 5px 0;
    
}
.Solution-content ul li:hover{
    color: #627382;
}


.early-eccess-area h2,p{
    margin-bottom: 20px;
}
.early-eccess-area{
    background: #f7f6f2;
    border-radius: 10px;
    text-align: center;
    padding: 100px 330px;
    margin: 100px 0;
}
.early-eccess-area h2{
    font-size: 40px;
}
.early-eccess-area p{
    color: #627382;
}
.early-eccess-area ul{
    margin-top: 10px;
}
.early-eccess-area ul li{
    list-style: none;
    display: inline;
    margin-top: 5px;
    color: #627382;
}


.footer-area{
    background: #001931;
    padding: 100px 0 10px 0;
    
}
.logo-socal-link{
    display: flex;
    justify-content: space-between;
}
.socal-link, .copyright{
    color: #fff;
    text-align: center;
}
.socal-link i{
    color: #000;
    background: #ffffff;
    padding: 2px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}
.copyright{
    color: #FAFAFA;
}
hr{
    margin: 20px 0;
    color: #FAFAFA;
}