*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.btn{
    padding: 10px 16px;
    background: #30B868;
    border: none;
    border-radius: 5px;
    color: #fff;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}
.logo img{
    width: 100%;
}
.menu ul{
    display: flex;
    gap: 15px;
}
.menu ul li{
    list-style: none;
}
.menu ul li a{
    text-decoration: none;
    color: #000;
}
.button-area button:hover{
    background: #469165;
}

.benar{
    background-image: url(./images/hero-bg.png);
    background-size: cover;
    padding: 100px 350px;
    text-align: center;

}
.content p{
    margin-bottom: 20px;
}
.Early{
    display: inline;
    background: #fff;
    padding: 5px 20px;
    border-radius: 20px;
    color: #30B868;
}
.content h2,h3{
    font-size: 70px;
}
.content h2{
    color: #fff;
    margin-top: 20px;
}
.content h3{
    color: #30B868;
    margin-bottom: 20px;
}
.private-space{
    color: #fff;
    font-size: 18px;
    line-height: 35px;
}

.button2{
    background: transparent;
    border: 1px solid #fff;
}