*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}
.logo img{
    width: 100%;
}
.menu ul{
    display: flex;
    gap: 15px;
}
.menu ul li{
    list-style: none;
}
.menu ul li a{
    text-decoration: none;
    color: #000;
}
.button-area button{
    padding: 10px 16px;
    background: #30B868;
    border: navajowhite;
    border-radius: 5px;
}
.button-area button:hover{
    background: #469165;
}